@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts//Vazirmatn-Black.woff2") format("woff2");
}
